* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
   background:linear-gradient(#0e1461,#000000 ) no-repeat center center fixed ; 
  
  }
  .form {
    position: relative;
    width: 350px;
    padding: 40px 40px 60px;
    border-radius: 10px;
    background: #ebf5fc;
    text-align: center;
    /* margin-top: 100px; */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    animation-name: app;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    }
    
    @keyframes app {
      from   { transform:translateY(-500px); opacity: 0; }
      to     { transform:translateY(100px) ; opacity: 1; }
      
    }
    @keyframes appReverse {
      from   { transform:translateY(100px) ; opacity: 1; }
      to     { transform:translateY(-500px); opacity: 0; }
      
    }
    
  
  .form h2 {
    /* color: #32a3b1; */
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
    color:rgb(146, 180, 245);
  }
  .form .input {
    margin-top: 40px;
    text-align: left;
  }
  .form .input .inputBox {
    margin-top: 20px;
  }
  .form .input .inputBox label {
    display: block;
    color: #868686;
    margin-bottom: 5px;
    font-size: 18px;
  }
  .form .input .inputBox input {
    width: 100%;
    height: 50px;
    
    background: #ebf5fc;
    border: none;
    outline: none;
    padding: 5px 15px;
    font-size: 18px;
    border-bottom:1px solid rgb(146, 180, 245);
  
  }
  .form .input .inputBox input[type="submit"] {
    margin-top: 20px;
    box-shadow: 
      2px 2px 6px rgba(0, 0, 0, 0.1);
    border-bottom:none;
    
  }
  .form .input .inputBox input[type="submit"]:active {
    color: rgb(146, 180, 245);
    margin-top: 20px;
    box-shadow:  2px 2px 6px rgba(0, 0, 0, 0.1);
  }
  .form .input .inputBox input::placeholder {
    color: rgb(146, 180, 245);
    font-size: 18px;
  }
  #forget {
    margin-top: 30px;
    color: #555;
  }
  
  a{
    color: rgb(146, 180, 245);
  }
  
  #valider{
    cursor: pointer
  }
  
  
  
  /* ----------------------Mdp oublier------------------- */
  
  
  .form2 {
    position: relative;
    width: 350px;
    padding: 40px 40px 60px;
    border-radius: 10px;
    background: #ebf5fc;
    text-align: center;
    
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    animation-name: app2;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    /* display: none; */
    }
    
    @keyframes app2 {
      from   { transform:translateY(800px); opacity: 0; }
      to     { transform:translateY(100px) ; opacity: 1; }
      
    }
    @keyframes appReverse2 {
      from   { transform:translateY(-800px) ; opacity: 1; }
      to     { transform:translateY(100px); opacity: 0; }
      
    }
    
  
  .form2 h2 {
    
    font-size: 20px;
    text-transform: uppercase;
    
    color:#9198e5;
  }
  .form2 .input2 {
    margin-top: 40px;
    text-align: left;
  }
  .form2 .input2 .inputBox2 {
    margin-top: 20px;
  }
  .form2 .input2 .inputBox2 label {
    display: block;
    color: #868686;
    margin-bottom: 5px;
    font-size: 18px;
  }
  .form2 .input2 .inputBox2 input {
    width: 100%;
    height: 50px;
    
    background: #ebf5fc;
    border: none;
    outline: none;
    padding: 5px 15px;
    font-size: 18px;
    border-bottom:1px solid #9198e5;
  
  }
  .form2.input2 .inputBox2 input[type="submit"] {
    margin-top: 20px;
    box-shadow: 
      2px 2px 6px rgba(0, 0, 0, 0.1);
    border-bottom:none;
    
  }
  .form2 .input2 .inputBox2 input[type="submit"]:active {
    color: #9198e5;
    margin-top: 20px;
    box-shadow:  2px 2px 6px rgba(0, 0, 0, 0.1);
  }
  .form2 .input2 .inputBox2 input::placeholder {
    color: #bdcada;
    font-size: 18px;
  }
  #forget2 {
    margin-top: 30px;
    color: #555;
  }
  
  
  
  #valider2{
    cursor: pointer
  }
  